# IntelliJ-Intera
.idea
OpenIsles.org.iml

# Smarty: kompilierte Templates
templates_c/

# Erzeugte Thumbnails
www/media/screenshots/thumbnails/

# Konkrete Version der Konfigurationsdatei.
# Unter src/config-template.php ist eine Beispieldatei zu finden.
www/php/config/config.php