
/* Allgemeines */

body,
button, .button,
.top-bar-section ul li > a,
h1, h2, h3, h4, h5, h6,
.label {
	font-family: 'Droid Sans', Helvetica, Roboto, Arial, sans-serif;
}

code {
	font-family: 'Droid Sans Mono', 'Liberation Mono', Consolas, Courier, monospace;
}

body,
h1, h2, h3, h4, h5, h6 {
	color: #ffffff;
}

a {
	color: hsl(235, 100%, 50%);
}
a:hover, a:focus {
	color: #ffffff;
	background: hsl(235, 100%, 50%);
}
a.noLinkBackground:hover, a.noLinkBackground:focus {
	background: none;
}


/* Body */

body {
	background: url(/img/background-body.png) 50% 0 repeat;
}


/* Header */

/*noinspection CssOptimizeSimilarProperties*/
#site-header {
	height: 300px;
	background: url(/img/background-header.png) 50% 0 repeat-x; /* 50% für alte Androids; die können calc() nicht */
	background-position: calc(50% - 500px);
}

#site-header .show-for-medium-up h1 {
	font-size: 7rem;
}
#site-header .show-for-small-only h1 {
	font-size: 4rem;
}

#site-header h2 {
	color: #ffffff;
}
#site-header .show-for-medium-up h2 {
	font-size: 2.25rem;
	text-shadow: 2px 2px 5px #000000;

	position: relative;
	left: 75px;
	top: -30px;
}
#site-header .show-for-small-only h2 {
	font-size: 1.5rem;
	text-shadow: 1px 1px 3px #000000;
}

#site-header .open {
	color: hsl(235, 75%, 40%);
}
#site-header .show-for-medium-up .open {
	text-shadow:
		-10px -10px 20px hsla(235, 10%, 90%, .15),
		10px -10px 20px hsla(235, 10%, 90%, .15),
		10px 10px 20px hsla(235, 10%, 90%, .15),
		-10px 10px 20px hsla(235, 10%, 90%, .15),
		5px 5px hsl(235, 75%, 20%),
		-2px -2px hsl(235, 75%, 60%);
}
#site-header .show-for-small-only .open {
	text-shadow:
		-10px -10px 20px hsla(235, 10%, 90%, .15),
		10px -10px 20px hsla(235, 10%, 90%, .15),
		10px 10px 20px hsla(235, 10%, 90%, .15),
		-10px 10px 20px hsla(235, 10%, 90%, .15),
		5px 5px hsl(235, 75%, 20%),
		-2px -2px hsl(235, 75%, 60%);
}

#site-header .isles {
	color: hsl(115, 55%, 45%);
	font-weight: bold;
}
#site-header .show-for-medium-up .isles {
	text-shadow:
		-10px -10px 20px hsla(115, 10%, 90%, .15),
		10px -10px 20px hsla(115, 10%, 90%, .15),
		10px 10px 20px hsla(115, 10%, 90%, .15),
		-10px 10px 20px hsla(115, 10%, 90%, .15),
		5px 5px hsl(115, 55%, 25%),
		-2px -2px hsl(115, 55%, 65%);
}
#site-header .show-for-small-only .isles {
	text-shadow:
		-10px -10px 20px hsla(115, 10%, 90%, .15),
		10px -10px 20px hsla(115, 10%, 90%, .15),
		10px 10px 20px hsla(115, 10%, 90%, .15),
		-10px 10px 20px hsla(115, 10%, 90%, .15),
		5px 5px hsl(115, 55%, 25%),
		-2px -2px hsl(115, 55%, 65%);
}


/* Topbar */

.top-bar,
.top-bar.expanded,
.top-bar.expanded .title-area,
.top-bar-section ul li,
.top-bar-section ul li > a.button.secondary,
.top-bar-section ul li > a.button.secondary:hover,
.top-bar-section ul li > a.button.secondary:focus,
.top-bar-section ul li > a.button.info,
.top-bar-section ul li > button.secondary,
.top-bar-section ul li > button.secondary:hover,
.top-bar-section ul li > button.secondary:focus,
.top-bar-section ul li > button.info,
.top-bar-section li:not(.has-form) a:not(.button),
.top-bar-section .dropdown li a,
.top-bar-section .dropdown li label,
.top-bar-section .has-form,
.contain-to-grid {
	background-color: hsl(235, 75%, 40%);
}

.top-bar-section ul li:hover:not(.has-form) > a,
.top-bar-section li.hover > a:not(.button),
.top-bar-section li:not(.has-form) a:not(.button):hover,
.top-bar-section .dropdown li:not(.has-form):not(.active):hover > a:not(.button),
.no-js .top-bar-section ul li:hover > a {
	background-color: hsl(235, 75%, 60%);
}

button, .button,
button.disabled, button[disabled], .button.disabled, .button[disabled],
button.disabled:hover, button.disabled:focus, button[disabled]:hover, button[disabled]:focus,
.button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus,
.top-bar-section ul li > a.button,
.top-bar-section ul li > button,
.top-bar-section ul li.active > a,
.top-bar-section li.active:not(.has-form) a:not(.button),
.no-js .top-bar-section ul li:active > a {
	background-color: hsl(235, 75%, 20%);
}

a:hover, a:focus,
.top-bar-section ul li.active > a:hover,
.top-bar-section li.active:not(.has-form) a:not(.button):hover {
	background-color: hsl(235, 75%, 30%);
}

.top-bar .toggle-topbar a {
	text-transform: none;
}


/* Page-Wrapper */

#page-wrapper {
	background: url(/img/background-page.png) 50% bottom repeat-y;
	color: #ffffff;

	padding-top: 1em;
}


/* Footer */

#site-footer {
	height: 288px;
	padding-top: 4em;
	background: url(/img/background-footer.png) 50% 0 no-repeat;
	color: rgba(255, 255, 255, .75);
	font-size: 0.75em;
}


/* Impressum */

.vcard .fn {
	font-weight: normal;
}
.vcard .nickname {
	font-weight: bold;
}


/* Screenshots */

.screenshot-date {
	font-size: .8em;
}